<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mu-about-area">
                <!-- Start Feature Content -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="mu-about-left">
                            <img class="" src="~/images/about.jpg" alt="Men Speaker">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mu-about-right text-justify">
                            <h2>About The Conference</h2>
                            <p>MVPconf is an annual technology conference by Microsoft Most Valuable Professionals and Microsoft Regional Directors along with industry leading technology leaders and enthusiast. MVPConf is where you will learn about new trends, connect with industry experts, share your passion, and grow your skills. The program is created for developers by developers and cloud experts with conference talks and workshops covering the full stack of software development including Cloud, ITPro,DevOps and Security and highlighting emerging technologies like Machine Learning and IoT. Get inspired by our speakers who are software innovators and thought leaders from startups and enterprises across all different disciplines of software development!</p>
                            <p>We have full-day sessions & workshops on technical topics led by one of our world-renowned speakers. Each session is a hands-on learning session led by true experts in their field.</p>
                            <p>The result is a high-quality conference experience where a tremendous amount of attention and time has gone into having the best content on the most important topics presented by the leaders in our community, staged in an intimate environment needed to support as much learning and networking as possible.</p>
                        </div>
                    </div>
                </div>
                <!-- End Feature Content -->
            </div>
        </div>
    </div>
</div>