<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mu-pricing-area">

                <div class="mu-title-area">
                    <h2 class="mu-title">Pricing plans</h2>
                    <!-- <p>
                        We tried our best to keep the event as free as possible, however we had to charge for few of the key aspects like food and hospitality an dhence the below price.
                    </p> -->
                </div>

                <div class="mu-pricing-conten">
                    <div class="row">

                        <!-- single price item -->
                        <!-- <div class="col-md-4">
                            <div class="mu-single-price">

                                <div class="mu-single-price-head">
                                    <span class="mu-currency">₹</span>
                                    <span class="mu-rate">0</span>
                                    <span class="mu-time">/all day</span>
                                </div>
                                <h3 class="mu-price-title">BASIC</h3>
                                <ul>
                                    <li>Basic Class Ticket</li>
                                    <li>Access to all sessions</li>
                                    <li>Free Lunch</li>
                                    <li>Only for College Students (Need to bring College ID Cards)</li>
                                </ul>
                                <a class="mu-register-btn" href="#"> Register Now</a>
                            </div>
                        </div> -->
                        <!-- / single price item -->
                        <!-- single price item -->
                        <!-- <div class="col-md-4">
                            <div class="mu-single-price mu-popular-price">
                                <span class="mu-price-tag">Popular</span>
                                <div class="mu-single-price-head">
                                    <span class="mu-currency">₹</span>
                                    <span class="mu-rate">799</span>
                                    <span class="mu-time">/all day</span>
                                </div>
                                <h3 class="mu-price-title">STANDARD</h3>
                                <ul>
                                    <li>Basic Class Ticket</li>
                                    <li>Access to all sessions</li>
                                    <li>Free Lunch</li>
                                </ul>
                                <a class="mu-register-btn" href="#"> Register Now</a>
                            </div>
                        </div> -->
                        <!-- / single price item -->
                        <!-- single price item -->
                        <div class="col-md-4">
                            <div class="mu-single-price">
                                <div class="mu-single-price-head">
                                    <span class="mu-currency">₹</span>
                                    <span class="mu-rate">Will be announced shortly</span>
                                    <span class="mu-time">/all day</span>
                                </div>
                                <h3 class="mu-price-title">Early birds</h3>
                                <ul>
                                    <li>Basic Class Ticket</li>
                                    <li>Access to all sessions</li>
                                    <li>Includes Refreshment and Food</li>
                                </ul>
                                <a class="mu-register-btn" href="#"> Register Now</a>
                            </div>
                        </div>
                        <!-- / single price item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>