<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mu-speakers-area">
                <div class="mu-title-area">
                    <h2 class="mu-title">Our Speakers</h2>
                    <p>Our speakers are very familiar faces to you, you must have seen/heard them talking on the latest and greatest on the new innovations on Dev/IT in the local community meetups or in the premier conferences. We have assembled some of the amazing expert speakers from the elite MVPs and Microsoft RD community.</p>
                </div>
                <!-- Start Speakers Content -->
                <div class="mu-speakers-content">
                    <div class="mu-speakers-slider">
                        <!-- Start single speaker -->
                        <div class="mu-single-speakers">
                            <img src="~/images/speakers/anoop.jpg" alt="speaker img">
                            <div class="mu-single-speakers-info">
                                <h3>Anoop Chandran Nair</h3>
                                <p>Enterprise Mobility Expert</p>
                                <ul class="mu-single-speakers-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End single speaker -->
                        <!-- Start single speaker -->
                        <div class="mu-single-speakers">
                            <img src="~/images/speakers/vikram.jpg" alt="speaker img">
                            <div class="mu-single-speakers-info">
                                <h3>Vikram Pendse</h3>
                                <p>Azure Expert</p>
                                <ul class="mu-single-speakers-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End single speaker -->
                        <!-- Start single speaker -->
                        <div class="mu-single-speakers">
                            <img src="~/images/speakers/dhami.jpg" alt="speaker img">
                            <div class="mu-single-speakers-info">
                                <h3>Deepak Singh Dhami</h3>
                                <p>Cloud and Datacenter Management Expert</p>
                                <ul class="mu-single-speakers-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End single speaker -->
                        <!-- Start single speaker -->
                        <div class="mu-single-speakers">
                            <img src="~/images/speakers/rohit.jpg" alt="speaker img">
                            <div class="mu-single-speakers-info">
                                <h3>Rohit Srivastava</h3>
                                <p>Cloud and Datacenter Management Expert</p>
                                <ul class="mu-single-speakers-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End single speaker -->
                        <!-- Start single speaker -->
                        <div class="mu-single-speakers">
                            <img src="~/images/speakers/sohoni.jpg" alt="speaker img">
                            <div class="mu-single-speakers-info">
                                <h3>Subodh Sohoni</h3>
                                <p>DevOps Expert</p>
                                <ul class="mu-single-speakers-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End single speaker -->
                    </div>
                </div>
                <!-- End Speakers Content -->
            </div>
        </div>
    </div>
</div>