<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="mu-sponsors-area">
                @RenderBody()
                <div class="mu-title-area">
                    <h2 class="mu-title">Our Sponsors</h2>
                    <p>We are thankful for the sponsorers of this event with their support and encouragement.</p>
                    <p>Interested in becoming a sponsor of MVP conference? Multiple sponsorship opportunities are available. <a href="emailto:contact@themvpconference.com">Write to us <text>@@contact@@themvpconference.com</text> </a></a></p>
                </div>

                <!-- Start spnonsors brand logo -->
                <div class="mu-sponsors-content">
                    <h3>Platinum Sponsors</h3>
                    <div class="row">

                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsors/microsoft.jpg" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-2.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-3.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-4.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-5.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-6.png" alt="Brand Logo">
                            </div>
                        </div>
                    </div>
                    <h3>Gold Sponsors</h3>
                    <div class="row">

                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsors/microsoft.jpg" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-2.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-3.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-4.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-5.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-6.png" alt="Brand Logo">
                            </div>
                        </div>
                    </div>
                    <h3>Silver Sponsors</h3>
                    <div class="row">

                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsors/microsoft.jpg" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-2.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-3.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-4.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-5.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-6.png" alt="Brand Logo">
                            </div>
                        </div>
                    </div>
                    <h3>Main Event Reception Sponsors</h3>
                    <div class="row">

                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsors/microsoft.jpg" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-2.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-3.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-4.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-5.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-6.png" alt="Brand Logo">
                            </div>
                        </div>
                    </div>
                    <h3>Event Hosts</h3>
                    <div class="row">

                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsors/microsoft.jpg" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-2.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-3.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-4.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-5.png" alt="Brand Logo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-4">
                            <div class="mu-sponsors-single">
                                <img src="~/images/sponsor-logo-6.png" alt="Brand Logo">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End spnonsors brand logo -->
            </div>
        </div>
    </div>
</div>