<div class="mu-video-overlay">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-video-area">
                    <!-- <h2>Watch Previous Event Video</h2> -->
                    <a class="mu-video-play-btn" href="#"><i class="fa fa-play" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Start Video content -->
<div class="mu-video-content">
    <div class="mu-video-iframe-area">
        <a class="mu-video-close-btn" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
        <iframe width="854" height="480" src="https://www.youtube.com/embed/koFF_J9PFa4" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<!-- End Video content -->